bin/
build/
dist/
develop-eggs/
downloads/
eggs/
include/
lib/
man/

.coverage
.idea/
.installed.cfg
*.egg-info
*.pyc
*.state

docs/api/modules.rst
docs/api/candelabra.rst
docs/api/candelabra.*.rst
docs/api/build
docs/web
